<header>
  <nav class="navbar navbar-default">
    <div class="navbar-header">
      {{#link-to "index" class="navbar-brand"
        title="Back to Common Component Errors Home"
        aria-label="Back to Common Component Errors Home"}}
        Home
      {{/link-to}}
    </div>

    <ul class="nav navbar-nav">
      <li>{{#link-to "timer-cleanup"}}Timers{{/link-to}}</li>
      <li>{{#link-to "listener-cleanup"}}Listeners{{/link-to}}</li>
      <li>{{#link-to "prototype-ref"}}Prototype{{/link-to}}</li>
      <li>{{#link-to "proper-context"}}Context{{/link-to}}</li>
      {{!-- <li>Functional Components (Use the lifecycle flow, make it functional, KISS)</li> --}}
    </ul>
  </nav>
</header>
<main class="app">
  {{outlet}}
</main>
<footer>
  <div class="author">
    Copyright (c) 2016 Justin Ray
    (<a href="https://twitter.com/thejustinaray" target="_blank">@thejustinaray</a>)
  </div>

  <div class="links">
    <iframe src="https://ghbtns.com/github-btn.html?user=justinaray&repo=ember-component-errors&type=star&count=false" frameborder="0" scrolling="0" width="75px" height="20px"></iframe>
    <iframe src="https://ghbtns.com/github-btn.html?user=justinaray&repo=ember-component-errors&type=fork&count=false" frameborder="0" scrolling="0" width="75px" height="20px"></iframe>
  </div>
</footer>
