<section>
  <h1>
    Common Ember Component Errors
  </h1>

  <section>
    <h1 class="sr-only">Overview</h1>
    <p>
      This demo app contains examples of errors frequently encountered when building Ember Components.
    </p>

    <p>
      Select a topic and explore the demo and descriptions of why these errors occurr.
    </p>

    <p>
      <span class="label label-warning">Note:</span>Some of the examples are contrived or may not the best way to implement a feature they illustrate.
      Rather, they are focused more on educating some of the nuances of component development in Ember.
    </p>
  </section>

  <section>
    <h1>General Component Tips</h1>

    <ul>
      <li>Always call 'this._super(...arguments)'</li>
      <li>Always clean up after yourself (events, listeners, plugins)</li>
      <li>Mind the Prototype</li>
      <li>Implement your feature at the right component context</li>
      <li>Learn and harness the Ember Component Lifecycle - Don't fight against it</li>
    </ul>

  </section>

  <section>
    <h1>Help/Feedback</h1>

    <p>
      This is a work in progress and <a href="https://github.com/justinaray/ember-component-errors" target="_blank">Feeback/Issues/PRs</a> are always welcome.
    </p>

    Todo/Ideas:
    <ul>
      <li>Responsive Menu</li>
      <li>Catch errors and log them to the UI (Instead of using DevTools)</li>
      <li>Misc: Icons, Suave, template lint</li>
    </ul>
  </section>
</section>
