<section>
  <h1 class="sr-only">Welcome</h1>
  <div class="container">
    <div class="jumbotron">
      <h1>Common Ember Component Errors</h1>
      <p>
        This demo app contains examples of errors frequently encountered when building Ember Components.
      </p>

      <p class="pull-right">
        {{#link-to "timer-cleanup" class="btn btn-primary btn-lg" ariaRole="button"}}Get Started{{/link-to}}
      </p>
      <div class="clearfix"></div>
    </div>
  </div>
  <p>
    <span class="label label-warning">Note:</span>&nbsp;Some of these examples are contrived
    or may not the best way to implement a feature they illustrate.
    Rather, they are focused more on educating some of the nuances of component development in Ember.
  </p>
</section>

<section>
  <h1 class="sr-only">Help/Feedback</h1>

  <p>
    This is a work in progress and <a href="https://github.com/justinaray/ember-component-errors" target="_blank">Feeback/Issues/PRs</a> are always welcome.
  </p>

  Todo/Ideas:
  <ul>
    <li>Responsive Menu</li>
    <li>Catch errors and log them to the UI (Instead of using DevTools)</li>
    <li>Tests, pre-push, ember-suave, template lint, ...</li>
  </ul>
</section>
