<h1>
  Common Ember Component Errors
</h1>

<p>
  Examples of errors frequently encountered when building Ember Components
</p>

<p>
  Some of the examples are contrived or may not the best way to implement a feature they illustrate.
  Rather, they are focused more on educating some of the nuances of component development in Ember.
</p>

This is a work in progress ... <a href="https://github.com/justinaray/ember-component-errors" target="_blank">PR's Welcome</a>
