{{#problem-container
  instructionsPath="assets/docs/listener-cleanup/instructions.md"
  descPath="assets/docs/listener-cleanup/description.md"}}
  <h1>Leaking Listeners</h1>
  {{timer-group itemComponent="timer-pauseable-leaky"}}

  <h1>Responsible Listeners</h1>
  {{timer-group itemComponent="timer-pauseable-fixed"}}
{{/problem-container}}
