{{#problem-container
  instructionsPath="assets/docs/proper-context/instructions.md"
  descPath="assets/docs/proper-context/description.md"}}
  <h1>Tooltips Managed in Parent</h1>
  {{parent-managed-timer-tooltips}}

  <h1>Tooltips Managed Internally</h1>
  {{timer-group itemComponent="timer-complete" showTooltips=true}}
{{/problem-container}}
