{{#problem-container
  instructionsPath="assets/docs/prototype-ref/instructions.md"
  descPath="assets/docs/prototype-ref/description.md"}}
  <h1>Shared Prototype Data</h1>
  {{timer-group itemComponent="timer-prototype-ref"}}

  <h1>Per-Instance Data</h1>
  {{timer-group itemComponent="timer-runaway-fixed"}}
{{/problem-container}}
